@use 'colors' as *;

.attribution {
	padding: 2em;
	font-family: var(--medium-font);
	font-size: 0.8rem;
	color: $bg-walters;
	&__link {
		font-family: var(--semiBold-font);
		color: $bg-abrams;
		text-decoration: none;
		cursor: pointer;
	}
}

